<div class="col-md-8 col-md-offset-2">
	<h3 class="header smaller lighter blue">
		<span>TJU Student Centre</span>
    </h3>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Login</h4>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" ng-submit="login()">
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">UserID</label>
                    <div class="col-sm-7">
                        <input type="text" placeholder="UserId" class="col-xs-10 col-sm-5" ng-required="true"
                               ng-model="user.id"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">Secret</label>
                    <div class="col-sm-7">
                        <input type="password" placeholder="Secret" class="col-xs-10 col-sm-5" ng-required="true"
                               ng-model="user.secret"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"></label>
                    <div class="col-sm-7">
                        <button class="btn btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>
                            Login
                        </button>
                        <a href="/#/login" class="btn btn-warning" type="button">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>