<div class="col-md-8 col-md-offset-2">
    <h3 class="header smaller lighter blue">
        <span>Student Info</span>
    </h3>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>{{currentUser.id}}</span>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="update()">

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">Student ID:</label>
                    <div class="col-sm-7">
                        <label ng-bind="studentInfo.id"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">Student Name:</label>
                    <div class="col-sm-7">
                        <label ng-bind="studentInfo.name"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">University:</label>
                    <div class="col-sm-7">
                        <label ng-bind="studentInfo.university"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">Degree:</label>
                    <div class="col-sm-7">
                        <label ng-bind="studentInfo.degree"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">Enroll Date:</label>
                    <div class="col-sm-7">
                        <label ng-bind="studentInfo.start"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">Graduate Date:</label>
                    <div class="col-sm-7">
                        <label ng-bind="studentInfo.end"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">Education Qualifications:</label>
                    <div class="col-sm-7">
                        <ul class="nav nav-tabs padding-18 tab-size-bigger">
                            <li ng-repeat="education in studentInfo.educationQualifications">
                                <span ng-bind="education"></span>&nbsp ; &nbsp&nbsp
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right">Internship:</label>
                    <div class="col-sm-8">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    WorkingId
                                </th>
                                <th>
                                    Company
                                </th>
                                <th>
                                    Department
                                </th>
                                <th>
                                    Position
                                </th>
                                <th>
                                    Start Date
                                </th>
                                <th>
                                    End Date
                                </th>
                                <th>
                                    Operation
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="intern in studentInfo.internInfos">
                                <td ng-bind="intern.workingId">
                                </td>
                                <td ng-bind="intern.company">
                                </td>
                                <td ng-bind="intern.department">
                                </td>
                                <td ng-bind="intern.position">
                                </td>
                                <td ng-bind="intern.start">
                                </td>
                                <td ng-bind="intern.end">
                                </td>
                                <td>
                                    <a href="" ng-click="remove(intern)" class="btn btn-warning" type="button" style="border: 0">
                                    Remove
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"></label>
                    <div class="col-sm-7">
                        <button ng-click="preAddInternInfo()" class="btn btn-warning" type="button">
                            <i class="icon-ok bigger-110"></i>
                            Add
                        </button>
                        <button class="btn btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>
                            Update
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<form class="modal fade form-horizontal" id="createInternInfoModal" tabindex="-1" role="dialog" novalidate
      ng-submit="addInternInfo()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="modal-title">
                    <span style="">New Intern Info</span>
                </div>
            </div>
            <div class="modal-body form-horizontal">
                <div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            WorkingId
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="newInternInfo.workingId" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            Company
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="newInternInfo.company" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            Department
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="newInternInfo.department" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            Position
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="newInternInfo.position" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            Start
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="newInternInfo.start" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            End
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="newInternInfo.end" ng-required="true">
                        </div>
                    </div>  
                    <hr/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</form>